<button class="btn btn-default"><img src="http://images.dailytech.com/nimage/G_is_For_Google_New_Logo_Thumb.png" alt=""><a target="_self" href="/auth/google">Sign in with Google</a></button>


<form id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">
    <!--     <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" ng-model="login.email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" ng-model="login.password" class="form-control" id="login-password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button> -->
</form>
