<section id="home">
	<form name="addTodo" ng-submit="createTodo(todoText)">
		<label for="addTodo">Add a todo:</label>
		<input type="text" ng-model="todoText">
		<button type="submit" >Submit</button>
	</form>
	<ul dnd-list="getTodos()">
		<li 
		ng-repeat="todo in getTodos() track by $index" 
		dnd-draggable="todo"
		dnd-moved="getTodos().splice($index, 1)"
		dnd-effect-allowed="move"
		>
		<button ng-click="completeTodo(todo)" class="btn-circle"></button>{{todo.text}}
		</li>
	</ul>
</section>
